<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ docTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if shopCSS}}
    <link rel="stylesheet" href="/css/shop.css">
    {{/if}}
    {{#if productCss}}
    <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if errorCss}}
    <link rel="stylesheet" href="/css/404.css">
    {{/if}}
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <span class="nav-items {{#if activeShop}}active{{/if}}">
                <a href="/">Shop</a>
            </span>
            <span class="nav-items {{#if activeProduct}}active{{/if}}">
                <a href="/admin/add-product">Add Product</a>
            </span>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>