<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shop</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <header class="header">
            <nav class="nav-bar">
                <span class="nav-items active">
                    <a href="/">Shop</a>
                </span>
                <span class="nav-items">
                    <a href="/admin/add-product">Add Product</a>
                </span>
            </nav>
        </header>
        <main>
            <div class="product-container">
                <!-- <div class="title">
                    <h1>products page</h1>
                </div>
                <div class="products-list">
                    <span>list of products</span>
                </div> -->
                <div class="product-card">
                    <span class="product-title">BOOKS</span>
                    <img src="https://www.asme.org/getmedia/c2c8ea5a-b690-4ba7-92bb-34bd1432862b/book_guide_hero_books.png?width=300&height=315&ext=.png" alt="">
                    <div class="product-price">$14.99</div>
                    <div class="product-description">Read books, that's the only way to improve your quality as a human being!</div>
                    <button class="add-cart">ADD TO CART</button>
                </div>
            </div>
        </main>
    </body>
</html>
