<main>
    <form action="/admin/add-product" method="POST" class="form-container">
        <div class="form-control">
            <span class="title-span">Title:</span>
            <input type="text" name="title" class="title-input" />
        </div>
        <button type="submit" class="submit-button">Add Product</button>
    </form>
</main>